$bgcolor: #FCEFE7;
$lightcolor: #fcefe747;
@import "cutemoew/assets/css/bootstrap.min.css";
@import "cutemoew/assets/css/bootstrap-dropdownhover.min.css";
@import "cutemoew/assets/font/css/font-awesome.min.css";
@import "cutemoew/assets/simple-line-icon/css/simple-line-icons.css";
@import "cutemoew/assets/css/animate.min.css";
@import "cutemoew/assets/css/style.css";
@import "cutemoew/assets/css/slider.css";
@import "cutemoew/assets/css/baguetteBox.css";
@import "cutemoew/assets/owl-carousel/owl.carousel.css";
@import "cutemoew/assets/owl-carousel/owl.theme.css";





h1, h2, h3, p, a{
  color:rgba(61,55,53,1);
}

.navbar.navbar-inverse.navbar-default{
  background-color: $bgcolor;
  box-shadow: 1px 1px 16px 0px #d8ccc4;
  padding: 0;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  border-radius: 1.5em;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.banner-bg{
  border-radius:1.5em;
}

.banner-img{
  background-color: $bgcolor;
  text-align: center;
  border-radius:1.5em;
  box-shadow: 1px 1px 16px 0px #d8ccc4;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 1.5em;
}

img{
  border-radius: 1.5em;
}

.caption {
  color: #282828;
  display: block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  max-width: 39%;
  z-index: 999;
  bottom: -30%;
  padding: 3em;
  background-color: rgba(252, 239, 231, 0.71);
  border-radius: 1.5em;
  box-shadow: 1px 1px 16px 0px #d8ccc4;
  p{
    display: inline;
  }
  .btn{
    display: flex;
    margin-top: 1.5em;

  }
  h2{
    float:none;
    width: 100%;
  }
  .btn.get-start span {
    border: 2px solid rgb(168, 167, 166);
    border-radius: 1.5em;
  }
}
@media (max-width: 480px) and (min-width: 320px){
.caption {
  width: 95%;
  max-width:none;
  bottom: -20%;
}
}

footer{
  background-color: $bgcolor;
}

.banner-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffffd6;
  width: 60%;
  height: 80%;
  padding: 2em;
  border-radius: 1.2em;
}
.imgct{
  padding: 0 3em;
}

.banner-cata{
  .banner-img img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .banner-img:hover .banner-img{
    opacity: 0.3;
  }
  .banner-img:hover .banner-text{
    opacity: 1;
  }
}

.news-text .readbtn {
  border-radius: 1em;
  background-color: #fcefe7;
}

.news-text .readbtn:hover {
  border: 2px solid #fcefe7;
  color: #3d3735;
  background: #ffffff;
  font-family: inherit;
}

.banner-text2 a {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.product-detail-bg{
  background:#fcefe747;
}

.pro-text .addtocart2 {
  background-color:#fff0;
  border-radius:1em;
  margin-right:0.5em;
}
.quantity-input{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f5f5f5;
  padding-left: 1em;
}

.size{
  margin-bottom:1em;
}

#add-to-cart-form {
  p{
    font-weight:500;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }
}

.dropdown-menu>li>a:hover {
  background-color:$bgcolor;
  border-radius:0.8em;
}

.contact-info img{
  border-radius: 0;
}

#input-email {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 13px;
  padding: 10px;
}

#home-slider3{
  .caption{
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
  }
  .carousel-indicators{
    width: auto;
  }
}

.grid-shop .row {
  margin: 0 0 2em 0;
}

.catfilter{
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $lightcolor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom:0;
    border-radius: 0.6em;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 0.2em;
    padding-left: 2em;
    font-size:0.8em;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: $bgcolor;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0.6em;
  }
}

.f-weghit>p {
  margin-top: 1em;
}
.copayright {
  padding: 0.2em 0;
}