@import "cutemoew/assets/css/bootstrap-dropdownhover.min.css";
@import "cutemoew/assets/simple-line-icon/css/simple-line-icons.css";
@import "cutemoew/assets/css/animate.min.css";
@import "cutemoew/assets/css/style.css";
@import "cutemoew/assets/css/slider.css";
@import "cutemoew/assets/css/baguetteBox.css";
@import "cutemoew/assets/owl-carousel/owl.carousel.css";
@import "cutemoew/assets/owl-carousel/owl.theme.css";
$bgcolor:#FCEFE7;
$lightcolor:#fcefe747;

html,body{
  font-family: Helvetica;
}



h1, h2, h3, p, a{
  color:rgba(61,55,53,1);
}

.pro-img img{
  height:240px;
}

.navbar.navbar-inverse.navbar-default{
  background-color: $bgcolor;
  box-shadow: 1px 1px 9px 0px #ffdece;
  padding: 0;
}
.navbar-inverse .navbar-nav>li>a {
  color: #606060;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  border-radius: 1.5em;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.banner-bg{
  border-radius:1.5em;
  margin-top:0;
}

.banner-img{
  text-align: center;
  border-radius:1.5em;
  box-shadow: 1px 1px 16px 0px #d8ccc4;
}
.banner-large{
  .banner-img{
    padding: 5em 1em 5em 1em;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-text2 a{
    float: none;
  }
}

.banner-text2{
  position: static;
}
@media (min-width: 1024px){
  .carousel-inner>.item{
    height:100vh;
  }
}
@media (min-width: 768px){
  .banner-text2{
    width: 40%;
  }
}
@media (max-width: 768px){
  .banner-text2{
    width: 100%;
  }
}
.navbar-nav>li>.dropdown-menu {
  border-radius: 1.5em;
}

img{
  border-radius: 1.5em;
}

.caption {
  color: #282828;
  display: block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  max-width: 39%;
  z-index: 999;
  bottom: -30%;
  padding: 3em;
  background-color: rgba(252, 239, 231, 0.71);
  border-radius: 1.5em;
  box-shadow: 1px 1px 16px 0px #d8ccc4;
  p{
    display: inline;
  }
  .btn{
    display: flex;
    margin-top: 1.5em;

  }
  h2{
    float:none;
    width: 100%;
  }
  .btn.get-start span {
    border: 2px solid rgb(168, 167, 166);
    border-radius: 1.5em;
  }
}
@media (max-width: 480px) and (min-width: 320px){
.caption {
  width: 95%;
  max-width:none;
  bottom: -20%;
}
  #home-slider3 .carousel-inner>.item {
    margin-bottom: 0;
  }
  #home-slider3 .carousel-indicators>li {
    width:60px;
    height:60px;
  }
  #home-slider3 .carousel-indicators .active{
    height: 60px;
  }
  .carousel-inner>.item {
    height: 300px;
  }
  .carousel-indicators{
    bottom:0;
  }
  .banner-cata{
    display:none;
  }
}


footer{
  background-color: $bgcolor;
}

.banner-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffffd6;
  width: 60%;
  height: 80%;
  padding: 2em;
  border-radius: 1.2em;
}
.imgct{
  padding: 0 3em;
}

.banner-cata{
  .banner-img img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 2em;
  }
  .banner-img:hover .banner-img{
    opacity: 0.3;
  }
  .banner-img:hover .banner-text{
    opacity: 1;
  }
  .banner-img{
    background-color: #fcefe74d;
  }
}
.banner-text2 a {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.news-text .readbtn {
  border-radius: 1em;
  background-color: #fcefe7;
}

.news-text .readbtn:hover {
  border: 2px solid #fcefe7;
  color: #3d3735;
  background: #ffffff;
  font-family: inherit;
}


.product-detail-bg{
  background:#fcefe747;
}

.pro-text .addtocart2 {
  background-color:#fff0;
  border-radius:1em;
  margin-right:0.5em;
  width: auto;
}
.quantity-input{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f5f5f5;
  padding-left: 1em;
}

.size{
  margin-bottom:1em;
}

#add-to-cart-form {
  p{
    font-weight:500;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }
}

.dropdown-menu>li>a:hover {
  background-color:$bgcolor;
  border-radius:0.8em;
}

.contact-info img{
  border-radius: 0;
}

#input-email {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 13px;
  padding: 10px;
}

#home-slider3{
  .caption{
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
  }
  .carousel-indicators{
    position: relative;
    bottom: 0;
    img{
      height: 100%;
    }
  }
}
#home-slider3 .carousel-indicators>li{
  display: inline-block;
}

#home-slider3 .carousel-inner>.item{
  float: none;
  width:100%;
  height: 100%;
}
#home-slider3 .carousel-inner{
  overflow: visible;
}

.grid-shop .row {
  margin: 0 0 2em 0;
}

.catfilter{
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $lightcolor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom:0;
    border-radius: 0.6em;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 0.2em;
    padding-left: 2em;
    font-size:0.8em;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: $bgcolor;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0.6em;
  }
}

.f-weghit>p {
  margin-top: 1em;
}
.copayright {
  padding: 0.2em 0;
}

.blog .readbtn {
  border-radius: 1em;
  background-color: $lightcolor;
}
.blog .readbtn:hover {
  border-radius: 1em;
  background-color: $bgcolor;
  border-color: $lightcolor;
}
.blog.blog-deatils {
  padding: 0;
}
.blogimg-cov {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px){
  .blogimg-cov {
    width: 66.66%;
  }
}

.blog-img2{
  margin:0 auto;
}
.tab-pane {
  table{
    margin: 0 auto;
    text-align: center;
  }
  td, th {
    padding: 0.5em 0.7em;
    border: 1px solid rgba(0,0,0,0.05);
  }
}
.pro-text a {
  color: #606060;
}
.news-text-content{
  padding:0;
  height:100px;
  overflow:hidden;
}

.news-text{
  padding: 2em 0 0 0;
}

.news-img{
  height:300px;
  img{
    width: 100%;
    height:100%;
  }
}
.inner-header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.checkbox input[type=checkbox] {
  position: relative;
  margin: auto;
}
#commentform {
  .checkbox{
  margin: 0;
    a{
      color: red;
    }
  }
  label{
    font-weight: 300;
  }
}
#submit-contact-us-btn{
  width: 100%;
  margin: 1em 0 2em 0;
  color: #606060;
  background-color: #fcefe7;
  border: none;
}

.el-form-item__label{
  width: 90px;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(252, 239, 231, 0.78) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(252, 239, 231, 0.78) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 239, 231, 0.78)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(252, 239, 231, 0.78) 0%, rgba(0, 0, 0, .0001) 100%);

}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(252, 239, 231, 0.78) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(252, 239, 231, 0.78) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(252, 239, 231, 0.78)));
  background-image:         linear-gradient(to left, rgba(252, 239, 231, 0.78) 0,rgba(0,0,0,.0001) 100%);
}

.grid-shop .pro-text{
  display: table;
}

.hnews-title{
  height: 3em;
  overflow: hidden;
  margin-bottom: 0;
}

.lbtn{
  border-radius: 1.5em;
}
.news-text a{
  height:50px;
}

.about-us{
  border: 1px solid #fcefe7;
  border-radius: 0.8em;
  padding: 2em;
  background-color: #fcefe717;
  margin-top: 2em;
  box-shadow: 1px 1px 20px 0px #fcefe7d6;
}

.bg-special{
  background: $lightcolor;
  color:#000000;
}
.w-100{
  width: 100%;
}
.checkbox, .radio{
  display: inline-block;
}

.box{
  border: 1px solid #fcefe7;
  border-radius: 0.8em;
  padding: 2em;
  background-color: #fcefe717;
  box-shadow: 1px 1px 20px 0px #fcefe7d6;
  margin-bottom:1em;
}

.note-text{
  width: 100%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

#payment-form{
  h3{
    margin: 0 auto 10px 0;
    font-size: 18px;
  }
}

.stripe-form{
  background-color: #fff;
  .stripe-title{
    margin-bottom: 1em;
  }
}